*.pyC

MSRVTT/*
dataset/MSRVTT/*


dataset/train_video_to_images/*
dataset/test_video_to_images/*

webvid-10m/*
webvid10m_dataset/webvid-10m/*

webvid10m_dataset/4x4_grid_images/*
webvid10m_dataset/2x2_grid_images/*
webvid10m_dataset/resized_videos/*

models/*

webvid10m_dataset_summed_approach
decoder_dataset


simpson_dataset/gifs_homer_simpson
simpson_dataset/reconstruct_gifs
simpson_dataset/gifs_homer_simpson_original
simpson_dataset/homer_simpson_single_images
simpson_dataset/homer_simpson_4x4_images
simpson_dataset/homer_simpson_2x2_images
simpson_dataset/homer_simpson_4x4_1024_images
simpson_dataset/homer_simpson_4x4_2048_images
